.CtypeListView {

  & table {
    @include table;
    @include responsiveTable(
        (
          phone: ('*', false, false, 120px),
          tablet: (false, '*', '*', 170px),
          desktop: (false, '*', '*', 270px),
        )
    );
  }

  @include breakpoint(phone-tablet-only){

    & th,
    & td {
      padding-bottom: $base-padding;
    }
  }
}