.KiltIdenticon {
  display: flex;
  justify-content: left;
  align-items: center;
  vertical-align: bottom;

  & .container {

    &:before {
      display: none;
    }
  }

  & .ui--IdentityIcon {
    cursor: default;
  }

  & .name {
    @extend %ellipsis;

    padding:{
      right: $base-padding/4;
      left: $base-padding/4;
    }
  }
}