.IdentitySelector {
  @include react-select;

  & .react-select {

    &-container {
      width: 200px;
    }

    &__value {

      &-container {
        overflow: visible;
      }
    }

    &__option {
      white-space: nowrap;

      &:last-child {
        border-top: $base-border;
      }
    }
  }
}