.IdentitySelector {

  & .react-select {

    &-container {
      width: 200px;
    }

    &__value {

      &-container {
        overflow: visible;
      }
    }

    &__option {
      white-space: nowrap;

      &:last-child {
        border-top: $base-border;
      }
    }
  }

  & .option {
    display: flex;
    justify-content: left;
    align-items: center;
    margin:{
      right: $base-padding/4;
    }

    & .KiltIdenticon {
      margin: {
        right: $base-padding/2;
      }
    }
  }

  & .name {
    @extend %ellipsis;
  }
}