.IdentitySelector {

  & .react-select {

    &-container {
      width: 200px;
    }

    &__option {
      white-space: nowrap;

      &:last-child {
        border-top: $base-border;
      }
    }
  }
}