.CTypeCreate {

  & h1 {
    @include h1('Ctype');
  }

  & .Ctype-name {
    @include card;
    @include label_input_combo;

    margin: {
      bottom: -$base-border-width;
    }
    padding: $base-padding;
  }
}