.MyClaimListView {

  & table {
    @include table;
    @include responsiveTable(
        (
          phone: (30%, 30%, false, 30px, 120px),
          tablet: (30%, 30%, false, 100px, 170px),
          desktop: (30%, 30%, '*', 100px, 270px),
        )
    );
  }

  & .deleteClaim {
    @include button-icon-only($icon-trash);
  }
}