.MyClaimListView {

  & table {
    @include table;
  }

  & .alias {
    width: 30%;
  }

  & .content {
    width: 100%;
  }

  & .cType {
    width: 30%;
  }

  & .actionsTd {
    width: 270px;
  }

  & .deleteClaim {
    @include button-icon-only($icon-trash);
  }
}