.AttestedClaimsListView {

  & .attestations {
    @include labeledCard(1);

    & .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: {
        bottom: $base-padding;
      }
    }

    & h3 {
      margin: 0;
    }

    & table {
      @include table;

      &.opened {

        & > thead,
        & > tbody {

          &:not(.opened) {
            display: none;
          }
        }

        & > tbody {

          &.opened {

            & > tr {

              &:first-child {
                display: none;
              }
            }
          }
        }
      }
    }

    & .attesterName {
      width: 60%;
    }

    & .status {
      height: 30px;
      width: 20%;
      text-align: center;

      &.unverified {

        &:before {
          @include icon($icon-times);

          color: $color-danger;
        }
      }

      &.approved {

        &:before {
          @include icon($icon-check);

          color: $color-success;
        }
      }
    }
  }

  & .refresh {
    @include labeledCardActions;

    & button {
      @include button-icon-only($icon-refresh);
    }
  }

  & .actionsTd {

    & .open {
      @include button-icon-only($icon-chevron-down);
    }
  }

  & .listDetailContainer {
    display: flex;
    flex-direction: column;

    & .AttestedClaimsListView {
      order: 1;
    }

    & .AttestedClaimVerificationView {
      order: 0;
    }
  }

  &.opened {

    & .opened {

      & > .attestations {
        @include removeLabeledCard;

        & > h2,
        & > .refresh {
          display: none;
        }
      }

      & + .AttestedClaimVerificationView {
        @include transform(scale(0.8));
        @include transform-origin(0, 50%);
        @include transition($base-transition);

        margin-top: 20px;
        padding-bottom: 0;

        & > h2 {

          &:after {
            @include transition($base-transition);
            @include opacity(0.5);

            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $color-white;
          }
        }

        &:before {
          @include background-image(linear-gradient(transparent, $color-white 90%));

          content: '';
          position: absolute;
          display: block;
          top: 0;
          left: -10px;
          right: -10px;
          bottom: -6px;
        }

        & > .attributes {
          display: none;
        }

        & > .refresh {
          display: none;
        }

        &:hover {
          @include transform(scale(1));

          margin-top: 30px;

          & > h2 {

            &:after {
              @include opacity(0);
            }
          }
        }
      }
    }
  }
}
