.MessageSubject {

  & .type {
    @include baseFont-bold;
  }

  & > div {
    @extend %ellipsis;
  }

  & .CTypePresentation {
    display: inline-block;
    margin-left: $base-padding/2;
    vertical-align: 2px;
  }
}