.LoginGate {
  & .header {
    flex-direction: row;
    padding: 3px;
    z-index: $z-index-header;
    top: 0;
    left: 0;
    background: $color-purple;
    justify-content: center;
    position: relative;
    display: flex;
  }

  & > .container {
    @include border-radius($base-border-radius);
    position: relative;
    z-index: $z-index-modal + 2;
    width: 60%;
    max-width: 1024px - 2 * $base-padding;
    margin: auto;
    background: $color-white;
    border: $base-border;
  }

  & .logo-id {
    height: 100px;

    & img {
      height: 100%;
      width: auto;
    }
  }

  & h1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & h2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & p {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
  }

  & button {
    @include button-primary;
    margin: 2%;
  }
  
  & input {
    flex-grow: 1;
    margin: {
      right: $base-padding/2;
    }
  }

  & .clear {
    @include button-secondary;
    margin: 2%;
    position: relative;
  }
}
