@mixin baseFont {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@mixin baseFont-bold {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

@mixin icon($icon) {
  content: $icon;
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin card {
  @include box-shadow(2px 2px 5px transparentize($color-black, 0.8));
  @include border-radius($base-border-radius);

  position: relative;
  margin:{
    bottom: 2*$base-padding;
  }
  padding: $base-padding;
  background: $color-white;
  border: $base-border;

  &:last-child {
    margin: {
      bottom: 0
    }
  }
}

@mixin labeledCard {
  @include card;

  padding:{
    top: 1.5*$base-padding;
  }

  margin:{
    top: 3*$base-padding;
  }

  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {

    &:first-child {
      @include border-radius($base-border-radius);

      position: absolute;
      top: -1.2em;
      left: $base-padding/2;
      padding: 0.2em 1em;
      border: $base-border;
      background: $color-white;
    }
  }
}

@mixin label {
  @include baseFont-bold;

  color: $color-primary;
  text-align: left;
}

@mixin label_input_combo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: $base-padding/2 $base-padding;

  & > label {
    $breakpoint: 600px;

    @include label;

    margin: {
      top: 8px;
    }

    &,
    & + * {
      width: 100%;
    }

    & + div {
      word-break: break-word;
    }

    & + input {
      @include input;
    }

    & + div {

      margin: {
        top: 8px;
      }
    }

    @include breakpointAbove($breakpoint) {
      $input-width: 70%;

      width: 100% - $input-width;

      & + * {
        width: $input-width;
      }
    }
  }
}

@mixin console-log {

  & .console-log {
    display: none;
  }

  &.console-log {

    & .console-log {
      display: block;
      margin: {
        top: 10px;
      }
      font-size: 10px;
    }
  }
}

@mixin kilt-token {
  display: inline-block;

  &:after {
    $font-size: 0.8em;
    $size: 1.6;

    @include border-radius(50%);

    content: 'K';
    display: inline-block;
    width: #{$size}em;
    height: #{$size}em;
    margin:{
      left: 0.5em;
    }
    border: 1px solid $color-primary;
    font-weight: bold;
    font-size: $font-size;
    line-height: $size;
    text-align: center;
    vertical-align: bottom;
    color: $color-primary;
  }
}

@mixin colored-kilt-token {
  @include kilt-token;

  &.decreased {
    color: $color-danger;
  }

  &.increased {
    color: $color-success;
  }
}
