@mixin inlinePresentation {
}

@mixin presentation {
  white-space: nowrap;

  & .container {

    &:before {
      display: none;
    }
  }

  & .ui--IdentityIcon {
    cursor: default;
  }

  & .ui--IdentityIcon,
  & .label {
    display: inline-block;
    vertical-align: middle;
  }

  & .label {
    @extend %ellipsis;

    @include baseFont;

    padding:{
      right: $base-padding/4;
      left: $base-padding/4;
    }
    font-size: 16px;

    & small {
      @include baseFont;

      font-size: 0.6em;
      margin-left: 0.4em;
    }
  }

  &.inline {
    display: inline-block;
    margin-left: $base-padding/2;
    vertical-align: 2px;
  }
}

@mixin detailPresentation {
  @extend %centerV;

  @include border-radius(50%);

  position: absolute;
  top: 0;
  right: $base-padding/2;
  padding: 0 !important;
  border: 5px solid $color-white;

  & .label {
    display: none;
  }
}

@mixin invertedPresentation {

  & .container {
    $borderWidth: 1px;

    position: relative;

    &:after {
      @include border-radius(50%);

      content: '';
      position: absolute;
      top: -$borderWidth;
      right: -$borderWidth;
      bottom: -$borderWidth;
      left: -$borderWidth;
      border: $borderWidth solid $color-font-inverted;
    }
  }

  & .label {
    color: $color-font-inverted;
  }
}