@mixin react-select {

  & input[type=text] {
    height: 20px;
  }

  & .react-select {

    &__control {
      @include box-shadow(none !important);

      border: $base-border !important;
      cursor: pointer;
    }

    &__option {
      background: $color-white !important;
      color: $color-font !important;
      cursor: pointer;

      &--is-selected {
        background: transparentize($color-primary, 0.8) !important;
      }

      &--is-focused,
      &:hover {
        background: $color-primary !important;
        color: $color-font-inverted !important;
      }
    }

    &__multi-value{

      &__remove {

        &:hover {
          background-color: $color-primary !important;
          color: $color-font-inverted !important;
        }
      }
    }
  }

  & .ContactPresentation {
    display: initial;
  }
}

@mixin react-select-minimal {

  & .react-select {

    &__value-container,
    &__indicator-separator{
      @include opacity(0);

      padding: 0;
    }

    &__control {
      border: none !important;
      background: none;
    }
  }
}

@mixin react-select-minimal-inverted {

  & .react-select {

    &__indicator {

      &:hover,
      &:active {

        & svg {
          fill: $color-font-inverted !important;
        }
      }
    }
  }
}

@mixin react-select-right($right: 0) {

  & .react-select__menu {
    right: $right;
  }
}

@mixin react-select-min-width($minWidth: 200px) {

  & .react-select__menu {
    min-width: $minWidth;
  }
}
