@mixin table {
  width: 100%;
  table-layout: fixed;

  & th,
  & td {
    text-align: left;
    vertical-align: top;
  }

  & th {
    @extend %ellipsis;

    @include baseFont-bold;

    color: $color-primary;
    padding-bottom: $base-padding;
 }

  & .actionsTd {

    &,
    & > div {
      padding: 0;
    }

    & > div {
      @include actions;
    }

    & .react-select__menu {
      right: 0;
      min-width: 200px;
    }
  }

  & .status {
    text-align: center;
    width: 100px;

    &.revoked {

      &:before {
        @include icon($icon-times);

        color: $color-danger;
      }
    }

    &.attested {

      &:before {
        @include icon($icon-check);

        color: $color-success;
      }
    }
  }
}