.MessageListView {

  & th,
  & td {
    text-align: left;
  }

  & .actions {
    padding: 0;
  }

  & .delete {
    @include button-icon-only($icon-trash-o);

    border: none;
  }

  & .open {
    @include button-icon-only($icon-eye);

    border: none;
  }

  & .message {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: $color-primary;
    }
  }
}
