.Modal {
  z-index: $z-index-modal;
  display: flex;
  max-width: none;
  margin: 0;
  padding: $base-padding;
  overflow: auto;

  &,
  & .backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  & .backdrop {
    z-index: $z-index-modal + 1;
    background: $color-background-backdrop;
  }

  & > .container {
    @include border-radius($base-border-radius);

    position: relative;
    z-index: $z-index-modal + 2;
    width: 100%;
    max-width: 640px;
    margin: auto;
    background: $color-white;
    border: $base-border;
  }

  & header {
    @include baseFont-bold;

    padding: $base-padding/2 $base-padding;
    border: {
      bottom: $base-border;
    }
    font-size: 20px;

    & .header-KiltIdenticon {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;

      & .KiltIdenticon {
        margin: {
          left: $base-padding;
        }
      }
    }
  }

  & .body {
    padding: $base-padding/2 $base-padding;

    & footer {
      margin: $base-padding (-$base-padding) (-$base-padding/2);
    }
  }

  & footer {
    padding: $base-padding/2 $base-padding 0;
    text-align: right;
    border: {
      top: $base-border;
    }

    & button {
      @include button-secondary;

      margin: {
        left: $base-padding/2;
        bottom: $base-padding/2;
      }

      &.confirm {
        @include button-primary;
      }
    }
  }
}