.ClaimDetailView {

  & .attributes {
    @include card;

    & > div {
      @include label_input_combo;
    }
  }

  & .attestations {
    @include card;

    padding: $base-padding;

    & h3 {
      margin: {
        top: 0;
      }
    }

    & td {

      &.revoked {

        &:before {
          @include icon($icon-times);

          color: $color-danger;
        }
      }

      &.approved {

        &:before {
          @include icon($icon-check);

          color: $color-success;
        }
      }

      &:nth-child(2),
      &:nth-child(3) {
        text-align: center;
      }
    }
  }

  & .refresh {
    @include button-icon-only($icon-refresh);
  }
}