.ClaimDetailView {

  & .attributes {
    @include card;

    & > div {
      @include label_input_combo;
    }
  }

  & .attestations {
    @include card;

    padding: $base-padding;

    & .header {
      width: 100%
    }

    & .headline {
      width: 50%;
      display: inline-block !important;
    }

    & .headerActions {
      width: 50%;
      text-align: right;
      display: inline-block !important;
    }

    & h3 {
      margin: {
        top: 0;
      }
    }

    & table {
      table-layout: fixed;
    }

    & .identicon {
      width: 40px;

      & .name {
        display: none;
      }
    }

    & .attesterName {
      @include baseFont-bold;

      width: 60%;
    }

    & .status {
      width: 20%;
      text-align: center;

      &.revoked {

        &:before {
          @include icon($icon-times);

          color: $color-danger;
        }
      }

      &.approved {

        &:before {
          @include icon($icon-check);

          color: $color-success;
        }
      }
    }

    & .refresh {
      width: 50px;

      & button {
        @include button-icon-only($icon-refresh);
      }
    }
  }
}