%centerV {
    @include transform(translateY(-50%));
    top: 50%;
}

%centerH {
    @include transform(translateX(-50%));
    left: 50%;
}

%centerHV,
%centerVH {
    @include transform(translateX(-50%) translateY(-50%));
    top: 50%;
    left: 50%;
}
