.kilt-header {
  background: red;

  & .ui {

    &.menu {
      margin: 0;
    }
  }

  & .logo {
    display: block;
    height: 30px;

    & img {
      height: 100%;
      width: auto;
    }
  }
}
