.IdentityView {
  position: relative;
  padding: $base-padding;
  margin: {
    bottom: 2*$base-padding;
  }

  & .attributes {

    & > div {
      @include label_input_combo;
    }
  }

  &.selected {
    @include labeledCard;

    & .actions {
      display: none;
    }
  }

  &:not(.selected){
    @include card;
  }

  & .ContactPresentation {
    @include detailPresentation;
  }

  & .didDelete {
    @include button-icon-only-inline($icon-trash-o);
  }

  & .didCreate {
    @include button-icon-only-inline($icon-plus);
  }

  & .did {
    margin-right: 10px;
  }
}
