.IdentityView {
  $margin-left: $base-padding;

  @include card;

  position: relative;
  width: calc(100% - #{$margin-left});
  padding: $base-padding;
  margin: {
    bottom: 2*$base-padding;
    left: $margin-left;
  }

  & .attributes {

    & > div {
      @include label_input_combo;
    }
  }

  &.selected {
    border: 3px solid $color-primary;

    & .actions {
      display: none;
    }

    &:before {
      content: 'Active Identity';
      position: absolute;
      top: -17px;
      right: $base-padding/2;
      font-size: 24px;
      font-weight: bold;
      color: $color-primary;
      background: $color-white;
      padding: 0 $base-padding/4;
    }
  }

  & .KiltIdenticon {
    @extend %centerHV;

    position: absolute;
    top: $base-padding/2;
    left: $base-padding/2;
    padding: 0 !important;
  }
}
