.DelegationDetailView {

  & .delegationNodeContainer {
    @include labeledCard;

    width: 100%;
  }

  & .delegationNodeScrollContainer {
    display: inline-block;
    max-width: 100%;
    padding: {
      right: $base-padding/4;
      bottom: 4*$base-button-height;
      left: $base-padding/4;
    }
    overflow: auto;

    & > .DelegationNode {

      &:before,
      &:after {
        display: none;
      }
    }
  }

  & .viewTypeLabel {
    position: absolute;
    top: $base-padding/4;
    right: $base-padding/2;
    font-size: 10px;
    color: $color-grey;
  }
}