.ChooseClaimForCtype {


  & .select-claim {

    & h4 {
      margin: {
        top: 0;
        bottom: $base-padding/2;
        left: $base-padding/2 + $base-border-width;
      }
    }
  }
  
  & .actions {
    margin: {
      top: $base-padding;
    }

    & button {
      @include button-primary;
    }
  }  

  & .react-select-container {

    & .attested,
    & .revoked {
      $icon-width: 20px;

      position: relative;
      padding:{
        left: $icon-width + $base-padding/2;
      }

      &:before {
        @extend %centerHV;

        @include outline($color-white);

        position: absolute;
        left: $icon-width/2;
        font-size: 14px;
      }
    }

    & .attested {

      &:before {
        @include icon($icon-check);

        color: $color-success;
      }
    }

    & .revoked {

      &:before {
        @include icon($icon-times);

        color: $color-danger;
      }
    }
  }

  & .no-claim,
  & .no-attestations{
    overflow: hidden;

    & span {
      display: inline-block;
      margin: {
        top: $base-padding + $base-font-size/2;
      }
    }

    & a,
    & button {
      @include button-secondary;

      float: right;
      margin: {
        top: $base-padding;
      }
    }
  }

  & .no-claim {
    margin: {
      top: -$base-padding;
    }
  }

  & .attestations {
    margin: {
      top: 0;
      bottom: $base-padding/2;
      right: $base-padding/2 + $base-border-width;
      left: $base-padding/2 + $base-border-width;
    }

    & h4 {
      margin-bottom: 10px
    }

    & label {
      @extend %ellipsis;

      @include checkbox;

      display: block;
      width: 100%;
      margin: {
        bottom: $base-padding/2;
      }
    }
  }

  & .properties {
    margin: {
      top: 0;
      bottom: $base-padding/2;
      right: $base-padding/2 + $base-border-width;
      left: $base-padding/2 + $base-border-width;
    }

    & h4 {
      margin-bottom: 10px
    }

    & label {
      @extend %ellipsis;

      @include checkbox;

      display: block;
      width: 100%;
      margin: {
        bottom: $base-padding/2;
      }
    }
  }

}
