.MyDelegationsListView {

  & table {
    @include table;
  }

  & th,
  & td {
    @extend %ellipsis;

    text-align: left;
  }

  & .alias {
    width: 25%;
  }

  & .id {
    width: 25%;
    padding-right: 30px;
  }

  & .cType {
    width: 25%;
  }

  & .account {
    width: 20%;
  }

  & .actionsTd {
    width: 5%;
    text-align: right;
  }

  & .delete {
    @include button-icon-only($icon-trash-o);
  }
}