.MyDelegationsListView {

  & table {
    @include table;
    @include responsiveTable(
        (
          phone: (100%, false, false, false, false, 120px),
          tablet: (false, 100%, false, 100%, false, 170px),
          desktop: (false, 100%, 100%, 100%, 100%,  270px),
        )
    );
  }

  & .delete {
    @include button-icon-only($icon-trash-o);
  }

  & .invite {
    @include button-icon-only($icon-times);
  }
}