.ContactList {

  & h1 {
    @include h1('Contact');
  }

  & table {
    @include table;
    @include responsiveTable(
        (
          phone: ('*', 120px),
          tablet: ('*', 170px),
          desktop: ('*', 270px),
        )
    );
  }

  & .contactActions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: {
      bottom: $base-padding;
    }

    & button {
      margin:{
        left: $base-padding / 2;
      }
    }
  }

  & .toggleContacts {
    @include button-primary;
  }

  & .refresh {
    @include button-icon-only($icon-refresh);
  }

  & .noContactsMessage {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & button {
      @include button-secondary;
    }
  }
}
  