.ContactList {

  & h1 {
    @include h1('Contact');
  }

  & table {
    @include table;
    @include responsiveTable(
        (
          phone: ('*', false, getActionTdWidth(1)),
          tablet: ('*', '**', getActionTdWidth(1)),
          desktop: ('*', '**', getActionTdWidth(1)),
        )
    );

    & .address {
      word-break: break-word;
    }

    & .requestClaimBtn {
      @include button-icon-only($icon-wpforms);
    }
  }
}
  