.ContactList {

  & h1 {
    @include h1('Contact');
  }

  & table {
    @include table;
    @include responsiveTable(
        (
          phone: ('*', false,  120px),
          tablet: ('*', '**',  170px),
          desktop: ('*', '**', 270px),
        )
    );

    & .address {
      word-break: break-word;
    }

    & .requestClaimBtn {
      @include button-icon-only($icon-wpforms);
    }
  }
}
  