@import "styles/select2-overrides";

// base elements
section {
  width: 100%;
  max-width: $base-content-max-width;
  margin: auto;
  padding: $base-padding;

  & section {
    padding: 0;
  }
}

h1 {
  @include baseFont;

  display: flex;
  align-items: center;
  width: 100%;
  height: $h1-icon-size;
  margin: {
    top: $base-padding;
    bottom: 2*$base-padding;
  }
  text-transform: uppercase;
}

// base form elements
input {

  &[type=text],
  &[type=password],
  &[type=uri-reference] {
    @include input;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: {
    top: $base-padding;
  }
  overflow: hidden;
  clear: both;

  & button,
  & a {
    @extend %ellipsis;

    @include button-secondary;

    margin: {
      left: $base-padding/2;
    }

    section > & {

      &:last-child{
        @include button-primary;
      }
    }
  }
}

.react-select-container {
  @include react-select;
}

table {
  width: 100%;
  text-align: left;

  & th {

    &.actions {
      text-align: right;
    }
  }
}