.AttestationsView {

  & .alias {
    font-weight: bold;
  }

  & .ellipsis {
    @extend %ellipsis;
    max-width: 180px;
  }

  & .revoked {
    text-align: center;
    &:before {
      @include icon($icon-times);
      color: $color-danger;
    }
  }

  & .approved {
    text-align: center;
    &:before {
      @include icon($icon-check);
      color: $color-success;
    }
  }

  & .revoke {
    @include button-icon-only($icon-ban);
    margin: 2px;
  }
  & .delete {
    @include button-icon-only($icon-trash);
  }
}