.AttestedClaimVerificationView {
  
  @include labeledCard(1);

  & .refresh {
    @include labeledCardActions;

    & button {
      @include button-icon-only($icon-refresh);
    }
  }

  & h2 {

    & > span {
      margin-right: $base-padding;
    }

    & .status {
      font-size: 16px;
    }

    & .Spinner {
      display: inline-block;
    }
  }

  & .attributes {

    & > div {
      @include label_input_combo;
    }
  }

  & .attesterName {
    width: 60%;
  }

  & .status {
    height: 30px;
    width: 20%;
    text-align: left;

    &.unverified {

      &:before {
        @include icon($icon-times);

        color: $color-danger;
      }
    }

    &.verified {

      &:before {
        @include icon($icon-check);

        color: $color-success;
      }
    }
  }

  & .attestationStatusView {
    position: relative;

    & > * {
      position: absolute;
    }
  }
}